# Database Configuration
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# BPJS I-Care Configuration
BPJS_CONS_ID=""
BPJS_SECRET_KEY=""
BPJS_USER_KEY=""
BPJS_ICARE_BASE_URL="https://apijkn-dev.bpjs-kesehatan.go.id/ihs_dev/api/rs"

# Gemini AI Configuration
GEMINI_API_KEY=""
GEMINI_API_URL="https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent"
NEXT_PUBLIC_AI_ENABLED=false
